<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Framework" type="Cheke.Configuration.ConfigurationHandler,Cheke.Configuration"/>
  </configSections>

  <Framework type="Cheke.Configuration.ConfigurationManager,Cheke.Configuration">
    <ClassFactory>

      <Class name="D3000.FacadeServiceFactory" type="D3000.IFacadeService.IFacadeServiceFactory, D3000.IFacadeService"
          location="tcp://localhost:37020/FacadeServiceFactory.soap"/>

    </ClassFactory>
  </Framework>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
       
      </channels>
    </application>
  </system.runtime.remoting>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
